
<div class="header">
            <div class="top-toolbar"><!--header toolbar-->
                <div class="container">
                    <div class="row">

                        <div class="col-md-6 col-sm-12 col-xs-12 pull-right">
                            <div class="top-contact-info">
                                <ul>

                                    <li class="toolbar-email"><i class="fa fa-envelope-o"></i> rushikeshbodkhe2@gmail.com</li>
                                    <li class="toolbar-contact"><i class="fa fa-phone"></i> +91 8605858399</li><?php $cnt=$cnt+1;}} ?>
                                    <li><a class="toolbar-new-listing" href="{% url 'login' %}"><i class="fa fa-plus-circle"></i> Admin</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--header toolbar end-->
            <div class="nav-wrapper"><!--main navigation-->
                <div class="container">
                    <!--Main Menu HTML Code-->
                    <nav class="wsmenu slideLeft clearfix">
                        <div class="logo pull-left"><a href="index.php" title="Responsive Slide Menus"><h3 style="color:#08c2f3">HSMS</h3></a></div>
                        <ul class="mobile-sub wsmenu-list pull-right">
                            <li><a href="{% url 'index' %}" class="">Home</a>

                            </li>

                            <li><a href="{% url 'category' %}">categories <span class="arrow"></span></a></li>

                            <li><a href="{% url 'about' %}">About Us <span class="arrow"></span></a></li>

                          <li><a href="{% url 'contact' %}">Contact Us <span class="arrow"></span></a></li>
                        </ul>
                    </nav>
                </div>
            </div><!--main navigation end-->
        </div>